<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DeepDive Test Suite">
    <test verbose="2" preserve-order="true" name="D:/DeepDive">
        <classes>
            <class name="selenuim.deepdive.FindElementByID">
                <methods>
                    <include name="find_element_by_id"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>